.footer {
  text-align: center;
  padding: 100px 0 50px 0;
}

.contactUs {
  font-size: 17px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  display: block;
}

.info {
  line-height: 1.7;
}

.logo {
  svg {
    width: 180px;
    height: 62px;
  }
}
